/*Site colors
Pastel Pink: #D5BDD6
Mint Green: #A9eed1
Cream: #FFFDD0
Laveder: #9AA4FF*/
  .main .wrapper #aboutme {
    margin-bottom: 5%;
  }

  .main .wrapper #skills {
    margin-bottom: 5%;
  }

  .main .wrapper #inspire {
    margin-bottom: 5%;
  }

  .main .wrapper #contact {
    margin-bottom: 5%;
  }




