/*Menu*/
.sidenav {
    height: 100%; /*Full Height*/
    width: 0; /*changes with JavaScript*/
    position: fixed; /*Stays in Place*/
    z-index: 1; /*Keeps it on top*/
    top:0; /*Stay at the top*/
    left:0; /*stays to the left*/
    background-color: #9AA9FF;
    overflow-x: hidden; /*disables horizontal scroll*/
    padding-top: 60px; /*Places 60px from the top*/
    transition: 0.5s; /*Transition effect time*/
}

/*Menu Header*/

.sidenav header {
    margin-bottom: 2%;
    margin-left: 12%;
    background-color: #A9eed1;
    border-radius: 75px;
    border-color: #FFFDD0;
    border-style: solid;
    border-width: thick;
    top: 0;
    width: 80%;
    height: 20%;
}

.sidenav header h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 200px;
    transition: all .3s ease;
    font-size: 12px;
    text-align: center;
    padding-top: 50px;
}

/*Menu Links*/
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFDD0;
    display:block;
    transition: 0.3s;
}

/*Hovering on a link changes the colors*/
.sidenav a:hover{
    background-color: #D5BDD6;
    color: black;
}

/*Position and Style the Close button*/

button{
    border-radius: 100%;
    border-color: #FFFDD0;
    border-style: thick;
    border-style: solid;
    background-color: #9aa4ff;
    background-image: url(me.jpg);
    float: left;
    padding: 5%;
    margin: 2%;
    background-size:cover;
    background-position: center;
    width: 10%;
    height: 10%;
    color:#A9eed1;
    -webkit-text-stroke-color: #FFFDD0;
    -webkit-text-stroke-width: 0.5px;
    text-align: center;
    font-size: 60%;
}


.sidenav .closebtn {
    position: absolute;
    top:0;
    right: 25px;
    font-size:36px;
    margin-left:10px;
}

.sidenav #search {
    text-align: center;
}

.sidenav input[type=text] {
    border: solid thick #D5BDD6;
    width: 50%;
    height: 2%;
    margin: 1%;
    text-align:center;
    border-radius: 25px;
  }